<!Doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>LAIN VCA</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="scripts/semantic-ui-css/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel='stylesheet' type='text/css' href='/css/navAndFooter.css' />
        <style>
            html {  }
            #chat-content { height: 180px;  overflow-y: scroll; }
            #bS1 { display: block; margin-bottom: 22em; }
            @media (max-width: 991.98px) {
                #bS1 { display: block; margin-bottom: 12em; }
            }
        </style>
    </head>
    <body>
        <div class="article-clean">
            <header class="header bg-white">
                <nav class="navbar navbar-expand-lg fixed-top py-3" style="background: rgb(37, 122, 148);">
                    <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold" style="color: white;">LAIN VCA</a>
                        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
                        
                        <div id="navbarSupportedContent" class="collapse navbar-collapse">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active"><a href="" style="color: rgb(255, 255, 255)" class="nav-link text-uppercase font-weight-bold"><%= name %><span class="sr-only">(current)</span></a></li>
                                <li class="nav-item"><a href="/logout" class="btn btn-success">LogOut</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <span id="bS1"></span>
            <div class="container p-5">
                <div class="row">
                    <div class="d-flex justify-content-center align-items-center">
                    <div class="col-sm-5 bg-light shadow-lg border rounded py-3">
                        <h2 class="text-center">JOIN ROOM</h2><br>
                        <form action="/vidChat" method="GET">
                            <div class="form-group">
                                <label for="_email">Room Id:-</label>
                                <input type="text" name="room_id" id="_email" class="form-control" placeholder="Room Id" rnodeequired>
                            </div>
                            <div class="form-group">
                                <label for="_pass">Room Password:-</label>
                                <input type="password" name="room_password" id="_pass" class="form-control" placeholder="Room Password" required>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <button type="submit" class="btn btn-primary">JOIN</button>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="scripts/jquery/dist/jquery.min.js"></script>
        <script src="scripts/semantic-ui-css/semantic.min.js"></script>
        <script src="scripts/handlebars/dist/handlebars.min.js "></script>
        <script src="scripts/simplewebrtc/out/simplewebrtc-with-adapter.bundle.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    </body>
</html>